<div class="formWrapper">
    <h3>New user</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" formControlName="name" placeholder="your name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required" class="error">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="your@email.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email" class="error">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>phone number</label>
                        <input type="text" placeholder="+420 777 777 777" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required" class="error">Last Name is required</div>
                        </div>
                    </div>
                    
                   
                    <div class="form-group">
                        <button type="submit" id="SubmitBtn">Register</button>
                    </div>
                </form>
            
  
</div>
